@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&family=Roboto:wght@100;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.wrapper {
  padding-left: 5rem;
  padding-right: 5rem;
  background: url("../../img/bg.png");
  background-size: cover;
  background-repeat: no-repeat; }

ul {
  width: 100%;
  text-align: center; }

ul::first-child {
  text-align: left; }

.text-part {
  margin-top: 1rem;
  margin-bottom: 1rem; }
  .text-part span {
    color: #fbc387; }
  .text-part p {
    color: #5e6a77;
    margin-top: 2rem; }

input[type=text] {
  border: 1px solid #b9d0dd;
  opacity: 70%; }

.text-part .orange {
  margin-bottom: 2rem; }

.personal {
  margin-top: 3rem; }

.personal h3 {
  text-transform: uppercase; }

.recognition,
.personal {
  color: #5e6a77; }

.recognition h3,
.personal h3 {
  text-transform: uppercase;
  margin-bottom: 3rem; }

.icons {
  align-items: center;
  display: flex; }

.icons img {
  margin-right: 2rem;
  height: 1.6rem; }

.block-1 {
  background-color: #b9d0dd;
  color: #ffff; }

.block-1 .name-b {
  text-transform: uppercase;
  font-size: 1.5rem; }

.block-1 .name {
  padding-left: 1rem; }

.block {
  padding: 1.5rem;
  white-space: nowrap;
  color: #ffff;
  justify-content: space-between; }

.block-2 {
  background-image: url("../../img/bg-1.png"); }

.block-3 {
  background-image: url("../../img/budget.png"); }

.block-4 {
  background-image: url("../../img/badges.png"); }

.block-5 {
  background-image: url("../../img/awards.png"); }

.block-6 {
  background-image: url("../../img/quizes.png"); }

.block-7 {
  background-image: url("../../img/redeem.png"); }

.block-2 {
  background-image: url("../../img/bg-1.png"); }

.ecard {
  display: flex; }

.ecard h3 {
  text-transform: uppercase;
  color: #5e6a77; }

.navbar-nav {
  display: flex; }

.navbar-menu {
  padding: 1.875rem;
  font-family: "Oxygen", sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  color: #5e6a77;
  text-align: left; }

.navbar-menu:first-child {
  padding-left: unset !important; }

aside {
  float: left;
  text-overflow: ellipsis; }

.main {
  display: flex;
  margin-top: 8.6rem; }

.nav {
  justify-content: space-between;
  font-family: "Oxygen", sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  color: #5e6a77;
  text-align: left;
  padding-top: 5.75rem; }

.nav a {
  color: #5e6a77;
  padding-left: 0; }

.group {
  display: flex;
  border: 1px solid #e2e1df;
  background-color: #ffff;
  flex-wrap: wrap;
  opacity: 80%;
  margin-left: 0.75rem; }

h3,
p {
  padding: 0; }

.recognition p {
  font-size: 1rem; }

.namelist {
  display: flex;
  box-sizing: content-box;
  background-color: #aeb4bb;
  color: #ffff;
  padding: 0.06rem;
  margin: 0.2rem;
  align-items: center; }

.namelist p {
  font-size: 1rem;
  padding-right: 0.3rem;
  padding-left: 0.3rem;
  margin-bottom: unset !important; }

.namelist span {
  font-size: 1rem;
  padding-right: 0.3rem;
  padding-left: 0.3rem;
  margin-bottom: unset !important; }

.logo {
  padding: 0; }

.main-block {
  margin-left: 3.37rem; }

aside,
section {
  display: inline-block;
  vertical-align: top;
  word-wrap: break-word; }

.dpd {
  display: flex;
  flex-direction: column; }

.sel-1 {
  margin-bottom: 1rem; }

select {
  margin-left: 4.37rem; }

#some-select {
  margin-left: 4.7rem; }

.personal p {
  background-color: #5e6a77;
  color: #ffff;
  padding: 2.37rem; }

.image-block {
  display: flex; }

.ecard-text {
  background-color: #b9d0dd;
  padding: 1.5rem; }

.ecard-text p {
  color: #ffff; }

.ecard-text span {
  color: #648190;
  font-weight: bold; }

.down {
  display: flex;
  margin-top: 3rem; }

.numbers span {
  font-size: 2.25rem; }

.numbers {
  text-align: right; }

.block-7 .form {
  height: 2.5rem;
  border: 2px solid white;
  background-color: rgba(243, 243, 243, 0.5); }

.img1,
.img2,
.img3 {
  margin-bottom: 1.25rem; }

.img1,
.img2,
.img3,
.img4,
.img3,
.img5,
.img6 {
  padding: 0px 10px 10px 10px; }

.image-part {
  display: flex; }

.img {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 70%;
  height: fit-content; }

.form-part {
  justify-content: space-between; }

.form-part button {
  color: #ffff;
  background-color: #b9d0dd;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  border: none;
  font-size: 1.5rem; }

.send-to {
  display: flex; }

.form-part {
  margin-top: 2rem; }

.send {
  margin-right: 2rem; }

@media screen and (min-width: 300px) and (max-width: 600px) {
  .main {
    display: flex;
    flex-direction: column; }
   .main-block {
        margin: 0;
    }
  .navbar-nav {
    display: none; }
  .image-block {
    display: flex;
    flex-direction: column; }
  .down {
    display: flex;
    flex-direction: column; }
  .ecard {
    display: flex;
    flex-direction: column; }
  .group {
    flex-wrap: wrap; }
  .header-menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%; }
  select {
    margin-left: unset; }
  .form-part {
    display: flex;
    flex-direction: column; }
  .form-part button {
    margin-top: 1rem;
    padding-left: unset;
    padding-right: unset; }
  .send-to {
    display: flex;
    flex-direction: column;
    word-wrap: wrap; }
  input[type=text] {
    margin-top: 1rem; }
  .send {
    margin-right: unset; }
  .block-1 {
    display: flex;
    flex-direction: column; }
  .block-1 .name {
    padding-left: unset; }
  .name {
    word-wrap: wrap; }
  .img {
    width: unset;
    text-align: center; }
  .position {
    white-space: normal;
    text-align: center; }
  .wrapper {
    padding: 0;
    margin: 1rem; }
  .icons {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center; }
  .icons img {
    margin-right: 2rem;
    height: 1.6rem; }
  .name-b {
    text-align: center; } }

@media screen and (min-width: 300px) and (max-width: 1201px) {
  .image-block {
    display: flex;
    flex-direction: column; } }

@media only screen and (max-width: 1600px) {
  .ecard {
    width: 100%; }
  .image-part {
    width: 100%;
    margin-top: 3rem;
    align-items: center; }
  .img {
    width: unset; }
  .navbar-menu {
    font-size: 1.5rem; }
  .wrapper {
    background-size: contain; } }

@media only screen and (max-width: 2148px) {
  .ecard {
    display: flex;
    flex-direction: column; }
  .image-block {
    display: flex;
    flex-direction: column; }
  .ecard-text {
    width: 100%; } }

@media only screen and (max-width: 768px) {
  .wrapper {
    max-width: 768px;
    background-size: contain;
    background-repeat: no-repeat; }
  body {
    width: 768px; }
  .main-block {
    margin: 0; }
  .main {
    display: flex;
    flex-direction: column; } }
