$background :url("../../img/bg.png");
$block-background: url("../../img/bg-1.png");
$navbar-padding-x: 1.875rem;
$small-font:1rem;
$font-family-oxygen:'Oxygen',
sans-serif;
$font-family-roboto: 'Roboto',
sans-serif;
$spacer: 1rem;
$spacers: ( 0: 0,
1: $spacer * .25,
2: $spacer * .5,
3: $spacer,
4: $spacer * 1.5,
5: $spacer * 3,
);